/* ------------------------- */
/* Index / Global Properties */
/* ------------------------- */

div, img, form, fieldset, #footer ul, #footer li, #header ul, #header li, .column ul, .column li, h1, h2, h3, h4 {
	padding: 0;
	margin: 0;
	border: 0; 
}
	
.clear { clear: both; }
.right { float: right; }
.left { float: left; }
	
.tc { text-align: center; padding-top: 10px; padding-bottom: 10px; }
.tr { text-align: right; }

input, select, textarea {
	/* Input And Select Font */
	font: normal 11px/150% "Arial", "Helvetica", sans-serif;
	color: #242424;
}

body {
	/* Main Font Sizes */
	font: normal 11px/150% "Arial", "Helvetica", sans-serif;
	color: #242424;
	/* Main Background Color */
	background-color: #ffffff; 
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
	color: #1564b2;
}
	
a:hover { text-decoration: underline; }
	
h1 {
	/* Logo Positioning */
	position: absolute;
	top: 10px;
	left: 20px; 
}
	
h1 a {
	/* Logo Definitions */
	display: block;
	height: 84px;
	outline: none;
}

#maincontent {
	padding-top: 10px;
}
		
#header {
	/* Header Background & Definitions */
	background: url("images/header.gif") top right no-repeat;
	height: 125px;
	position: relative;
}
	
#header div {
	/* Header Positioning */
	position: absolute;
	top: 40px;
	right: 20px; 
}

#menu {
	/* Top Navigation Bar BG & Color */
	background: #2687ca url("images/menu.gif") top left repeat-x;
	border-top: 1px solid #ffffff;
	height: 29px;
	list-style: none;
	position: absolute;
	bottom: 0;
	width: 773px;
}
	
#menu li { 
	line-height: 29px;
	display: inline;
}

#menu li a {
	/* Top Navigation Bar Link Dividers  */
	background: url("images/menu_split.gif") top right no-repeat;
	font-size: 12px;
	text-decoration: none;
	color: #ffffff;
	padding: 6px 15px;
}
	
#menu li.last a { background: none; }

#left h4 {
	/* Side Table Heading Definitions */
	background: #2687ca url("images/column_head.gif") no-repeat;
	font-weight: bold;
	font-size: 12px;
	color: #ffffff;
	height: 21px;
	line-height: 21px;
	padding-left: 35px;
}

.column {
	/* Side Table Definitions */
	border-left: 1px solid #b6b6b6;
	border-right: 1px solid #b6b6b6;
	width: 157px;
	padding: 0 10px; 
	margin: 1px 0 10px 0;
}
	
.column .top, .column .bot {
	/* Side Table Heading Background & Definitions */
	background: url("images/column_top.gif") no-repeat;
	display: block;
	height: 7px;
	margin: 0 -11px;	
}
		
.column .bot {
	/* Side Table Footer Background & Definitions */
	background: url("images/column_bot.gif") bottom left no-repeat;
}

.side_link {
	/* Side Table Link Definitions */
	background: url("images/bullet.gif") 5px center no-repeat;
	display: block;
	padding: 1px 0px 1px 15px;
	text-decoration: none;
	color: #3e3e3e;
}

.list { 
	margin-bottom: 15px;
	list-style: none; 
}
	
.list li.title a {
	/* Side Table Category Link Definitions */
	background: url("images/bullet_arrow.gif") 3px center no-repeat; 
	color: #006699;
	border-bottom: 1px dotted #727272;
	text-decoration: none;
	font-weight: bold;	
}

#main_cont {
	/* Center Table Definitions */
	width: 60%;
	float: left;
	text-align: left;
	padding-left: 10px;
	padding-right: 10px;
}

#content { padding: 5px 0; }

#left {
	width: 179px;
	float: left;
}
		
#right {
	width: 591px;
	float: right;
}
	
#right h2, #main_cont h2 {
    /* Center Table Heading Background, Colors & Fonts */
	background: url(images/gray_h_bg.gif) repeat-x #d9d9d9;
	border: solid #b0b0b0 1px;
	font-size: 13px;
	color: #2d5b94;
	font-weight: bold;
	height: 20px;
	padding: 0px;
	padding-top: 2px;
	margin: 0px;
	margin-bottom: 1px;
}

#footer ul {
	/* Footer Background */
	background: #767676 url("images/footer.gif") top left repeat-x;
	height: 29px;
	list-style: none;
	text-align: right;
	padding: 0 15px;
	width: 743px;	
}
	
#footer li { 
	line-height: 29px;
	display: inline;
}

#footer li a {
	/* Footer Link Colors */
	border-right: 1px solid #c6c6c6;
	text-decoration: none;
	font-size: 11px;
	color: #c6c6c6;
	padding: 0 5px;
}
	
#footer li.last a { border: 0; }

#searchForm {
	width: 561px;
	height: 29px;
	padding: 7px 15px 0 15px;
	background: url("images/search.gif") no-repeat;
	color: #636262;
	font-weight: bold;
}
	
#searchForm legend { display: none; }
html>body #searchForm span input, html>body #searchForm span img { margin-bottom: -3px; }

#welcome h3 {
	/* Welcome Message Font */
	color: #1667b4;
	font: normal 28px "Arial", "Helvetica", sans-serif;
}
	
#welcome {
	width: 376px;
	height: 172px;
	margin: 5px 0;
	padding: 15px 200px 0 15px;
	background: url("images/welcome.gif") no-repeat; 
}
	
#banners {
	padding: 10px; 
}
	
#newsletterForm {
	width: 187px;
	height: 91px;
	float: left;
	margin-right: 1px;
	text-align: center;
	text-transform: uppercase;
	padding-top: 10px;
	background: url("images/banner.gif") no-repeat;
}
	
html>body #newsletterForm { 
	padding-top: 5px; 
	height: 96px; 
	margin-right: 3px;
}
	
#newsletterForm legend { display: none; }

.currency {
	float: left; 
	padding-left: 10px;
}

.content {
	/* Main Table Content Area Definitions */
	border: solid #b6b6b6 1px;
	background: #ffffff;
	margin-bottom: 15px;
	padding: 5px;
}

.cat_hover:hover {
	/* Category Hover */
	background-color: #EEEEEE;
}

.black_bold_text_spaced {
	color: #000000;
	font-weight: bold;
	margin-top: 5px;
	line-height: 17px;
	text-decoration: none;
}

.error_message {
	/* Error Message Definitions */
	background: #FFFFFF;
	border: solid #FF0000 1px;
	padding: 10px;
	margin-bottom: 10px;
}

.alert_message {	
	/* Alert Message Definitions */
	background: #FFFFFF;
	border: solid #33cc00 1px;
	padding: 10px;
	margin-bottom: 10px;
}

.error_alert {
	margin-left: 35px;
}

.table_bottom {
	text-align: center;
	padding-top: 5px;
}

.row {
	clear: both;
}

.center {
	text-align: center;
}

.right_align {
	text-align: right;
}

#wrapper {
	width: 773px;
	margin: 0 auto; 
}

/* ------------ */
/* Product List */
/* ------------ */

.product_title_link, product_title_link:visited, product_title_link:active {
	/* Product Title Link Definitions */
	color: #2d5b94;
	font-size: 12px;
	font-weight: bold;
	text-decoration: underline;
}

.product_title_link:hover {
	/* Product Title Link Hover Definitions */
	color: #fd6601;
	font-size: 12px;
	font-weight: bold;
	text-decoration: none;
}

.paging {
	float: right;
	text-align: right;
	margin-right: 10px;
}

.list_top {
	/* Product List Top Definitions */
	border-top: solid #cacaca 1px;
	border-bottom: solid #cacaca 1px;
	background: #f0f0f0;
	padding: 3px;
}

.list_bottom {
	/* Product List Bottom Definitions */
	border-top: solid #cacaca 1px;
	border-bottom: solid #cacaca 1px;
	background: #f0f0f0;
	padding: 3px;
}

/* ----------------- */
/* Product List List */
/* ----------------- */

.reg_txt {
	font-weight: normal;
}

.small_txt {
	font-size: 10px;
}

.price {
	/* Product List Price Definitions */
	color: #c20710;
	font-weight: bold;
	font-size: 14pt;	
	margin-right: 10px;
	float: left;
}

.list_item {
	background: #FFFFFF;
	padding: 5px;
}

.list_item_bottom_border {
	/* Product List Separator Definitions */
	border-bottom: solid #cacaca 1px;
	background: #FFFFFF;
}

/* ----------------- */
/* Product List Tile */
/* ----------------- */

.tile_item {
	text-align: center;
}

.tile_image {
	margin-bottom: 5px;
}

.tile_price {
	/* Product Tile Price Definitions */
	font-weight: bold;
	font-size: 11pt;
	color: #c20710;
}

.tile_table {
	background: #FFFFFF;
	width: 100%;
}

.list_table {
	background: #FFFFFF;
	width: 100%;
}

/* -------------- */
/* Product Detail */
/* -------------- */

.product_title {
	/* Product Title Font & Color */
	font-size: 12px;
	font-weight: bold;
	color: #307fcf;
}

.product_sku {
	/* Product SKU Font & Color */
	font-size: 10px;
	margin-bottom: 10px;
}

.product_price {
	/* Product Price Font & Color */
	color: #990000;
	font-size: 11px;
	font-weight: bold;
}

.product_option {
	/* Product Attributes Font & Color */
	font-weight: bold;
	padding-right: 10px;
	width: 1%;
}

.product_strikethru {
	text-decoration: line-through;
}

.review_link {
	color: #307fcf;
	text-decoration: none;
	text-align: right;
	float: right;
	font-weight: 400;
}

.larger_view {
	background: url(images/enlarge.gif) no-repeat center left;
	padding-left: 13px;
	text-decoration: none;
	font-size: 10px;
}

.img_style { padding: 7px; }

.add_wishlist {
	/* Add To Wishlist, Add Review, Add To Registry Link Definitions */
	background: url(images/little_arrow.gif) no-repeat center left;
	padding-left: 15px;
	text-decoration: none;
	font-size: 11px;
	padding-right: 15px;
	margin-bottom: 10px;
	margin-right: 15px;
}

.review_item {
	padding-bottom: 10px;
}

.review_spacer {
	padding-bottom: 7px;
}

/* ------------------ */
/* Button Definitions */
/* ------------------ */

.orange_button {
	/* Orange Button Definitions */
	background: url(images/orange_button_left.gif) no-repeat top left;
	padding-left: 3px;
	height: 18px;
	float: left;
	margin-right: 10px;
}

.orange_button input, .orange_button button {
	/* Orange Button Definitions */
	background: url(images/orange_button_bg.gif) top right no-repeat;
	height: 18px;
	color: #ffffff;
	font-weight: bold;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0px;
	border-width: 0px;
	cursor: pointer;
}

.blue_button {
	/* Blue Button Definitions */
	background: url(images/blue_button_left.gif) no-repeat top left;
	padding-left: 3px;
	height: 18px;
	float: left;
	margin-right: 10px;
}

.blue_button input, .blue_button button {
	/* Blue Button Definitions */
	background: url(images/blue_button_bg.gif) top right no-repeat;
	height: 18px;
	color: #ffffff;
	font-weight: bold;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0px;
	border-width: 0px;
	cursor: pointer;
}

.yellow_button {
	/* Yellow Button Definitions */
	background: url(images/yellow_button_left.gif) no-repeat top left;
	padding-left: 3px;
	height: 18px;
	float: left;
	margin-right: 10px;
}

.yellow_button input, .yellow_button button {
	/* Yellow Button Definitions */
	background: url(images/yellow_button_bg.gif) top right no-repeat;
	height: 18px;
	color: #ffffff;
	font-weight: bold;
	padding-bottom: 5px;
	padding-right: 5px;
	margin: 0px;
	border-width: 0px;
	cursor: pointer;
}

.del_button {
	display: block;
	width: 40px;
	float: right;
	background: url(images/delete.gif) no-repeat center left;
	padding-left: 11px;
	color: #3068c5;
	text-decoration: none;
	font-weight: 400;
}

/* ----------------------------- */
/* Product Detail & Account Tabs */
/* ----------------------------- */

/* Non Selected & Selected Tabs Link Text Colors */
ul.tabbernav li a:link { color: #ffffff; }
ul.tabbernav li a:visited { color: #ffffff; }
ul.tabberactive li a:link { color: #000000; }
ul.tabberactive li a:visited { color: #000000; }

ul.tabbernav {
	/* Tab Content Top Border */
	border-bottom: 1px solid #2d5b94;
	font: bold 11px "Arial", "Helvetica", sans-serif;
	padding: 3px 0;
	margin: 0;
}

.tabberlive .tabbertab {
	/* Tab Content Sides & Bottom Border */
	border: 1px solid #2d5b94;
	padding: 15px;
	border-top: 0;
}

ul.tabbernav li a {
	/* Tab Borders */
	border: 1px solid #2d5b94;
	/* Non Selected Tabs Background */
	background: #2d5b94;
	padding: 3px 0.5em;
	margin-left: 3px;	
	border-bottom: none;	
	text-decoration: none;
}

ul.tabbernav li a:hover {
	/* Hovered Tabs Background Color */
	background: #e5e5e5;
	/* Hovered Tabs Border Color */
	border-color: #2d5b94;
	/* Hovered Tabs Text Color */
	color: #000000;	
}

ul.tabbernav li.tabberactive a {
	border-bottom: 1px solid #ffffff;
	/* Selected Tabs Background Color */
	background-color: #ffffff;
	/* Selected Tabs Font Color */
	color: #000000;
}

ul.tabbernav li.tabberactive a:hover {
	border-bottom: 1px solid white;
	/* Selected Tabs Hover Background Color */
	background-color: #ffffff;
	/* Selected Tabs Hover Font Color */
	color: #000000;
}

ul.tabbernav li {
	list-style: none;
	display: inline;
	margin: 0;
}

.tabberlive .tabbertabhide { display: none; }
.tabberlive .tabbertab h2 { display: none; }
.tabberlive .tabbertab h3 { display: none; }
.tabberlive { margin-top: 1em; }
.tabber { display: none; }

/* ---------------- */
/* Form Definitions */
/* ---------------- */

.input_box {
	padding-right: 2px;
	padding-left: 2px;
}

.form_label {
	text-align: right;
	vertical-align: top;
}

.bold {
	font-weight: bold;
}

.short_form_row {
	clear: both;
}

.short_form_row div, .short_form_row input, .short_form_row select, .short_form_row textarea {
	float: left;
	margin-right: 5px;
	margin-bottom: 5px;
}

.short_form_row div {
	width: 60px;
	padding-top: 3px;
}

.short_form_row input {
	width: 75px;
}

.required {
	/* Required Reminder Colors */
	color: #b70407;
	padding-left: 2px;
}

/* ------------ */
/* Account Area */
/* ------------ */

.account_list_head {
	/* Table List Headings Font */
	font-weight: bold;
	color: #2d5b94;
}

.account_head {
	/* Update Profile Heading Font Definitions */
	padding-bottom: 5px;
	font-weight: bold;
	color: #2d5b94;
}

/* ------------- */
/* Shopping Cart */
/* ------------- */

.cart {
	background: #ffffff;
}

.cart th {
	/* Cart List Headings Font */
	text-align: center;
	font-weight: bold;
	color: #2d5b94;
}

.cart td {
	border-top: dotted #c1c1c1 1px;
	border-bottom: dotted #c1c1c1 1px;
	color: #000000;
}

.cart_contents_quan {
	padding-right: 5px;
}

.cart_contents_item {
	margin-bottom: 5px;
	text-decoration: none;
}

.cart_contents_item a {
	text-decoration: none;
}

.cart_contents_item a:hover {
	text-decoration: underline;
}

/* ----------- */
/* Order Pages */
/* ----------- */

#order_signup {
	float: left;
	padding-left: 25px;
}

#order_login {
	float: right;
	padding-right: 25px;
}

.order_info_off {
	background: url(images/order_info_off.gif) no-repeat center left;
	padding-left: 20px;
	color: #bcbcbc;
	text-decoration: none;
}

.order_info_on {
	background: url(images/order_info_on.gif) no-repeat center left;
	padding-left: 20px;
	color: #000000;
}

.order_ship_off {
	background: url(images/order_ship_off.gif) no-repeat center left;
	padding-left: 20px;
	color: #bcbcbc;
	text-decoration: none;
}

.order_ship_on {
	background: url(images/order_ship_on.gif) no-repeat center left;
	padding-left: 20px;
	color: #000000;
}

.order_payment_off {
	background: url(images/order_payment_off.gif) no-repeat center left;
	padding-left: 20px;
	color: #bcbcbc;
	text-decoration: none;
}

.order_payment_on {
	background: url(images/order_payment_on.gif) no-repeat center left;
	padding-left: 20px;
	color: #000000;
}

.order_review_off {
	background: url(images/order_review_off.gif) no-repeat center left;
	padding-left: 20px;
	color: #bcbcbc;
	text-decoration: none;
}

.order_review_on {
	background: url(images/order_review_on.gif) no-repeat center left;
	padding-left: 20px;
	color: #000000;
}

.order_print_off {
	background: url(images/order_print_off.gif) no-repeat center left;
	padding-left: 20px;
	color: #bcbcbc;
	text-decoration: none;
}

.order_print_on {
	background: url(images/order_print_on.gif) no-repeat center left;
	padding-left: 20px;
	color: #000000;
}

.gray {
	background-color: #f0f3f8;
}

.sep {
	padding-left: 10px;
	padding-right: 10px;
}

/* ------------ */
/* Order Review */
/* ------------ */

.order_view {
	background: #ffffff;
	text-align: left;
}

.order_view th {
	font-weight: bold;
	background: #ff942d;
	color: #ffffff;
	width: 10%;
}

.review_top_border {
	border-top: solid #ff942d 1px;
}

.order_id {
	font-weight: bold;
	font-size: 10pt;
	padding-bottom: 10px;
	color: #c20710;
}

/* ------------------ */
/* Paging Definitions */
/* ------------------ */

.page a:hover {
	/* Hover Text Color */
	color: #fd6601; text-decoration: none
}

.page a:link {
	/* Link Text Color */
	color: #000000; text-decoration: none
}

.page a:visited {
	color: #000000; text-decoration: none
}

.pages_border {
	/* Box Border & Background */
	border: 1px solid #2d5b94;
	background-color: #FFFFFF;
	color: #000000;	
}

.navpage {
	/* Navigation Link Boxes Background & Definitions */
	background-color: #FFFFFF;
	font: 11px Tahoma, Verdana;
	padding: 2px 4px 2px 4px;
	color: #000000;
	white-space: nowrap;
	text-decoration: none;
}

.navpageselected {
	/* Navigation Selected Link Boxe Background & Definitions */
	background-color: #e5e5e5;
	font: 11px Tahoma, Verdana;
	padding: 2px 4px 2px 4px;
	color: #000000;
	white-space: nowrap;
	text-decoration: none;
}

.highlightpage {
	/* Current Page Info Box Background & Definitions */
	background-color: #2d5b94;
	font: bold 11px Tahoma, Verdana;
	padding: 2px 4px 2px 4px;
	color: #FFFFFF;
	white-space: nowrap;
}

.highlightpage a:link {
	color: #FFFFFF; text-decoration: none;
}

.highlightpage a:visited {
	color: #FFFFFF; text-decoration: none;
}

.highlightpage a:hover, .highlightpage a:active {
	color: #FFFFFF; text-decoration: underline;
}

/* ------------ */
/* Cookie Crumb */
/* ------------ */

.home_link {
	/* Home Link Definitions */
	background: url(images/home_icon.gif) no-repeat center left;
	text-decoration: underline;
	padding-left: 20px;
	font-weight: bold;
	color: #2d5b94;
}

.crumb_link {
	/* Regular Link Definitions */
	padding-left: 5px;
	font-weight: bold;
	text-decoration: underline;
	color: #2d5b94;
}

.crumb_sep {
	padding-left: 5px;
	font-weight: bold;
}

/* ----------------- */
/* Float Definitions */
/* ----------------- */

.left_float_3_px {
	float: left;
	margin-right: 3px;
}

.left_float_5_px {
	float: left;
	margin-right: 5px;
}

.right_float_5_px {
	float: right;
	margin-left: 5px;
}

.IE_left_float_5_px {
	margin-left: 5px;
}

.float_assist {
	clear: both;
	height: 1px;
	overflow: hidden;
}

.search_results {
	margin-left: 10px;
	float: left;
	text-align: center;
	font-size: 12px;
	color: black;
}

.search_bb {
	font-size: 12px;
	font-weight: bold;
	color: black;
}

